#!/usr/bin/env bash

# Aliases and typo remediation!

alias xlt='xautolock -toggle'
alias se='sudoedit'
alias vim='nvim'
alias cim='nvim'
alias bim='nvim'
alias vw='nvim -c VimwikiIndex'
alias view='vim -R'

alias car='cat'
alias packer='packer-io'

# Directory traversal
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias tmp='cd /tmp'

# Colorize ls
if [ "$(uname)" = 'Linux' ]; then
    alias ls='ls --color=auto'
else
    alias ls='ls -G'
fi

alias la='ls -a'
alias lal='ls -lha'
alias ll='ls -lh'
alias sl='ls'
alias lls='ls'

# Set up custom Xorg keyboard settings (xmodmap, xcape, etc) on Xorg systems
if [ "$(uname)" != 'Darwin' ]; then
    alias ks='keyset'
else
    alias ks='ls'
fi

# Always ask before overwriting a file with mv or cp
alias mv='mv -i'
alias cp='cp -i'

# Open pcmanfm in current directory
alias pc='2>/dev/null 1>&2 pcmanfm & disown $!'

# Allow sudo-ing aliases...no idea why this works
alias sudo='sudo '

# Clean up LaTeX build files
alias latexclean='rm -rf *.{aux,fdb_latexmk,fls,log,out,synctex.gz} _minted*'

# ZFS Aliases
alias zsnap='zfs list -t snap'
alias zsnaps='zfs list -t snap'
alias zprops='zfs get all'

# Like cat but more fun
alias dog='pygmentize -g'

# Fix bug where slack becomes unresponsive when dpms suspend occurs
# Per aur.archlinux.org/packages/slack-desktop/
# under '1ouis commented on 2018-11-15 06:36'
alias slack='slack --disable-gpu'

# cats out all files in child directories. get it cat child heh heh
kittens () {
    tree
    find . -type f -exec echo -e "\\n***************{}***************" \; -exec cat {} \;
}

# Removes duplicate ssh known_hosts entries
host-clear () {
    sed -i "$1d" "$HOME/.ssh/known_hosts"
}

# Create directory and cd into it
mkcd () {
    mkdir "$1"
    cd "$1" || exit
}

# git status -> vim
# Finds untracked, added, and modified files in git repo and opens them in vim
gsv () {
    if git status &> /dev/null; then
        mapfile -t changed_files < <(git status --short | grep -E '^(\?\?|A | M) ' | cut -c '4-')
        vim "${changed_files[@]}"
    else
        echo "Working directory is not a git repository, exiting."
    fi
}

# Fuzzy find opener
# Passes result of fzf to command specified as arg
ff () {
    CMD=$1
    # vim -> nvim alias not recognized inhis function, so account for it
    if nvim -v > /dev/null 2>&1 && [ "$1" == "vim" ]; then
        CMD="nvim"
    fi

    # If command is 'cd', remove the filename and go to the parent dir,
    # else execute command as is
    if [ "$1" == "cd" ]; then
        "$CMD" "$(dirname "$(fzf)")"
    else
        "$CMD" "$(fzf)"
    fi
}
