alias xlt='xautolock -toggle'
alias se='sudoedit'
alias vim='nvim -p'
alias cim='nvim -p'
alias bim='nvim -p'
alias view='vim -R'

alias car='cat'
alias packer='packer-io'

# Directory traversal
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias tmp='cd /tmp'


# Arch package management
alias yup='yaourt -Syua --noconfirm'
alias yo='yaourt'

# ls
if [ "$(uname)" = 'Linux' ]; then
    alias ls='ls --color=auto'
else
    alias ls='ls -G'
fi

alias la='ls -a'
alias lal='ls -lha'
alias ll='ls -lh'
alias ks='ls'

# Always ask before overwriting a file with mv or cp
alias mv='mv -i'
alias cp='cp -i'

# Allow sudo-ing aliases...no idea why this works
alias sudo='sudo '

# Clean up LaTeX build files
alias latexclean='rm -rf *.{aux,fdb_latexmk,fls,log} _minted*'

# ZFS Aliases
alias zsnap='zfs list -t snap'
alias zsnaps='zfs list -t snap'
alias zprops='zfs get all'

alias dog='pygmentize -g'

kittens()
{
    tree
    find . -type f -exec echo -e "\\n***************{}***************" \; -exec cat {} \;
}

host-clear()
{
    sed -i "$1d" "$HOME/.ssh/known_hosts"
}
