#!/usr/bin/env bash
#shellcheck disable=SC2016,SC2230

EDITOR=$(which nvim || which vim)
SVN_EDITOR=$EDITOR
export EDITOR
export SVN_EDITOR

# Indicates which terminal i3-sensible-terminal should try to spawn first
export TERMINAL=alacritty

# Use United States English
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export PAGER=less

if [ "$(uname)" = 'FreeBSD' ]; then
    export CCACHE_DIR="$HOME/.ccache"
    export LSCOLORS="ExGxFxdxCxDxDxhbadExEx"
elif [ -r "$HOME/.dircolors" ]; then
    eval "$(dircolors -b "$HOME/.dircolors")"
fi

if [ "$(uname)" = 'Darwin' ]; then
    export BASH_SILENCE_DEPRECATION_WARNING=1
fi

export FZF_DEFAULT_COMMAND='fd --type file'
FZF_HOME_DETECT='$([ "${PWD}" = "${HOME}" ] && echo "${HOME}" || echo ". ${HOME}")'
export FZF_ALT_C_COMMAND="fd -p -t d . $FZF_HOME_DETECT"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND . $HOME"
export FZF_CTRL_T_OPTS="--preview='head -n\$FZF_PREVIEW_LINES {}'"

export QT_QPA_PLATFORMTHEME=qt5ct

# Important.
export ANSIBLE_COW_SELECTION=milk
export BROSWER="firefox"
