#!/bin/bash

# Figure out which computer we're on to use certain configs accordingly
MODEL=$(tr "[:blank:]" "_" < /sys/devices/virtual/dmi/id/product_version | tr "[:upper:]" "[:lower:]")
export MODEL

export HISTSIZE=5000000
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# TODO
#export HISTIGNORE=""

export EDITOR=/usr/bin/nvim

# Use United States English
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";
