[user]
    email = kyle@kneit.in
    name = Kyle Kneitinger
[color]
    ui = true
[core]
    excludesfile = ~/.git_excludes
[github]
    user = kneitinger
[alias]
    d  = diff
    a  = add
    s  = status
    c  = commit
    rh = reset HEAD
    c- = checkout --
    puo = push -u origin

[rerere]
    enabled = true
    autoupdate = true
