[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/alduin"]
	path = bundle/alduin
	url = https://github.com/alessandroyorba/alduin
[submodule "bundle/vim-faust"]
	path = bundle/vim-faust
	url = https://github.com/gmoe/vim-faust.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "bundle/deoplete-jedi"]
	path = bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
[submodule "bundle/vim-racer"]
	path = bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
