[user]
    email = kyle@kneit.in
    name = Kyle Kneitinger
[color]
    ui = true
[core]
    excludesfile = /home/leaf/.gitignore_global
[github]
    user = kneitinger
[alias]
    a  = add
    c  = commit
    ch  = checkout
    chb  = checkout -b
    c- = checkout --
    d  = diff
    dc  = diff --cached
    puo = push -u origin
    rh = reset HEAD
    s  = status
    st = stash
    sta = stash apply
[rerere]
    enabled = true
    autoupdate = true
