.venv
.additional
**/*.sqlite

.ipython/*/db
.ipython/*/log
.ipython/*/pid
.ipython/*/security

.i3/config
.i3/.config_backup

bin/.*
bin/xcape

*.swp
.vim/autoload/plug.vim
.vim/bundle
.vim/init.vim
.vim/cache/*/*
.vim/spell/
.vim/black/
