rofi.font: inconsolata 12
rofi.color-enabled: true
rofi.color-normal: #0B4866,#FFFFFF,#0F6088,#37B3F1,#333333
rofi.line-margin: 3
rofi.color-window: #333333,#888888
rofi.location: 2
rofi.padding: 3
rofi.separator-style: solid
rofi.hide-scrollbar: true

rofi.width:                          50
rofi.lines:                          15
rofi.columns:                        1
rofi.yoffset:                        0
rofi.xoffset:                        0
rofi.fixed-num-lines:                false
rofi.terminal:                       rofi-sensible-terminal
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e {ssh-client} {host}
rofi.run-command:                    {cmd}
rofi.run-list-command:
rofi.run-shell-command:              {terminal} -e {cmd}
rofi.disable-history:                false
rofi.levenshtein-sort:               false
rofi.case-sensitive:                 false
rofi.sidebar-mode:                   false
rofi.lazy-filter-limit:              15000
rofi.eh:                             1
rofi.auto-select:                    false
rofi.parse-hosts:                    false
rofi.combi-modi:                     window,run
rofi.fuzzy:                          false
rofi.glob:                           false
rofi.tokenize:                       true
rofi.m:                              -1
rofi.filter:
rofi.markup-rows:                    false
rofi.pid:                            /run/user/1000/rofi.pid
rofi.kb-primary-paste:               Control+Shift+v,Shift+Insert
rofi.kb-secondary-paste:             Control+v,Insert
rofi.kb-clear-line:                  Control+u
rofi.kb-move-front:                  Control+a
rofi.kb-move-end:                    Control+e
rofi.kb-move-word-back:              Alt+b
rofi.kb-move-word-forward:           Alt+f
rofi.kb-move-char-back:              Left,Control+b
rofi.kb-move-char-forward:           Right,Control+f
rofi.kb-remove-word-back:            Control+Alt+h
rofi.kb-remove-word-forward:         Control+Alt+d
rofi.kb-remove-char-forward:         Delete,Control+d
rofi.kb-remove-char-back:            BackSpace,Control+h
rofi.kb-accept-entry:                Control+j,Control+m,Return,KP_Enter
rofi.kb-accept-custom:               Control+Return
rofi.kb-accept-entry-continue:       Shift+Return
rofi.kb-mode-next:                   Shift+Right,Control+Tab
rofi.kb-mode-previous:               Shift+Left,Control+Shift+Tab
rofi.kb-toggle-case-sensitivity:     grave,dead_grave
rofi.kb-delete-entry:                Shift+Delete
rofi.kb-row-left:                    Control+Page_Up
rofi.kb-row-right:                   Control+Page_Down
rofi.kb-row-up:                      Up,Control+p,Shift+Tab
rofi.kb-row-down:                    Down,Control+n
rofi.kb-row-tab:                     Tab
rofi.kb-page-prev:                   Page_Up
rofi.kb-page-next:                   Page_Down
rofi.kb-row-first:                   Home,KP_Home
rofi.kb-row-last:                    End,KP_End
rofi.kb-row-select:                  Control+space
rofi.kb-cancel:                      Escape
rofi.kb-custom-1:                    Alt+1
rofi.kb-custom-2:                    Alt+2
rofi.kb-custom-3:                    Alt+3
rofi.kb-custom-4:                    Alt+4
rofi.kb-custom-5:                    Alt+5
rofi.kb-custom-6:                    Alt+6
rofi.kb-custom-7:                    Alt+7
rofi.kb-custom-8:                    Alt+8
rofi.kb-custom-9:                    Alt+9
rofi.kb-custom-10:                   Alt+0
rofi.kb-custom-11:                   Alt+Shift+1
rofi.kb-custom-12:                   Alt+Shift+2
rofi.kb-custom-13:                   Alt+Shift+3
rofi.kb-custom-14:                   Alt+Shift+4
rofi.kb-custom-15:                   Alt+Shift+5
rofi.kb-custom-16:                   Alt+Shift+6
rofi.kb-custom-18:                   Alt+Shift+8
rofi.kb-custom-17:                   Alt+Shift+7
rofi.kb-custom-19:                   Alt+Shift+9
rofi.key-window:
rofi.key-run:
rofi.key-ssh:
