! Derived from https://gist.github.com/avh4/137537c80688fc77a95f33ff2ce38f9c
! which is derived from http://sailorhg.github.io/fairyfloss/
! special
*.foreground:   #f6f6ef
*.background:   #5a5376
*.cursorColor:  #f6f6ef

! black
*.color0:       #000000
*.color8:       #555555

! red
*.color1:       #eb5d5c
*.color9:       #fd8b89

! green
*.color2:       #5fe861
*.color10:      #6dff6f

! yellow
*.color3:       #dfb508
*.color11:      #ffe90a

! blue
*.color4:       #9d65ff
*.color12:      #b78cff

! magenta
*.color5:       #fc6ea2
*.color13:      #fda6c7

! cyan
*.color6:       #70f7aa
*.color14:      #b7ffd7

! white
*.color7:       #bbbbbb
*.color15:      #ffffff


rofi.font: FantasqueSansMono 10
rofi.color-enabled: true
rofi.color-normal: #0B4866,#FFFFFF,#0F6088,#37B3F1,#333333
rofi.line-margin: 3
rofi.color-window: #333333,#888888
rofi.location: 2
rofi.padding: 3
rofi.separator-style: solid
rofi.hide-scrollbar: true
rofi.width:                          50
rofi.lines:                          15
rofi.columns:                        1

Xcursor.size: 16

URxvt.font:         xft:FantasqueSansMono:size=10
URxvt.scrollBar:    false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scrollback buffer size
URxvt*saveLines: 10000

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! (requires https://github.com/majutsushi/urxvt-font-size)
! (requires https://github.com/ervandew/urxvt-vim-scrollback)
URxvt.perl-ext: font-size,vim-scrollback
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
urxvt.vim-scrollback: M-x

urxvt*depth: 32
urxvt*background: [97]#5a5376

Xft.antialias:  true
Xft.rgba:       rgba
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   true
Xft.lcdfilter:  lcddefault

