* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Jost\* Medium, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(90, 83, 118, 0.0);
    /* Text color */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .25s;
}

/* Don't know what this does lol */
window#waybar.hidden {
    opacity: 0.0;
}

window#waybar.empty {
    background-color: transparent;
}

/* When only one window taking up the whole screen
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-top: 3px solid rgba(90, 83, 118, 0.4);
    background-color: rgba(90, 83, 118, 0.4);
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px 1px -1.5px #ffffff; */
    border-top: 3px solid white;
    /* border-bottom-left-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
}

#workspaces button {
    padding: 0 10px;
    background-color: rgba(90, 83, 118, 0.4);
    color: #ffffff;
}

#workspaces button:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    /* background: rgba(0, 0, 0, 0.0); */
    border-top: 3px solid white;
}

#workspaces button.focused {
    background-color: #64727D;
    border-top: 3px solid white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background: #92eec1;
    color: #000000;
    border-top: 3px solid #92eec1;
}

#workspaces button.active:hover {
    background: #92eec1;
    color: #000000;
    border-top: 3px solid white;
}

#window {
    background-color: rgba(90, 83, 118, 0.4);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0 10px;
}


/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#window,
#workspaces {
    margin: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
#workspaces>button:last-child {
    border-bottom-right-radius: 12px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

.modules-right {

    margin-left: 3px;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#idle_inhibitor,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray {
    border-radius: 0px;
    /* border-bottom: 3px solid transparent; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 11px;
    color: #ffffff;
    /* background-color: rgb(137, 101, 148) */
    background-color: #FDA6C7;
    /* background-color: #70F7AA; */
    background-color: rgba(90, 83, 118, 0.4);
}


#tray {

    border-radius: 0px;
}

#idle_inhibitor {
    border-bottom-left-radius: 20px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#network.disconnected {
    background-color: #f53c3c;
}


#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}


#temperature.critical {
    background-color: #eb4d4b;
}


#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}


#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}


#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}
