! Colorscheme; derived from http://sailorhg.github.io/fairyfloss/
! special
*.foreground:  #f6f6ef
*.background:  #5a5376
*.cursorColor: #f6f6ef
! black
*.color0:      #000000
*.color8:      #555555
! red
*.color1:      #eb5d5c
*.color9:      #fd8b89
! green
*.color2:      #5fe861
*.color10:     #6dff6f
! yellow
*.color3:      #dfb508
*.color11:     #ffe90a
! blue
*.color4:      #b78cff
*.color12:     #9d65ff
! magenta
*.color5:      #fc6ea2
*.color13:     #fda6c7
! cyan
*.color6:      #70f7aa
*.color14:     #b7ffd7
! white
*.color7:      #bbbbbb
*.color15:     #ffffff

! Xorg font appearance
Xft.antialias: true
Xft.rgba:      rgba
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.autohint:  true
Xft.lcdfilter: lcddefault
Xft.dpi: 96

Xcursor.size: 32
