snippet nd
# `date +%Y-%m-%d`

## General Notes
$0

## Todo
- [ ] FillMeIn
endsnippet

snippet na
---
title: ${1:ARTICLE_TITLE}
---

## $2
$0
endsnippet

snippet el
[$1]($2)$0
endsnippet

snippet wl
[${1:FILE}]($2$1)$0
endsnippet

snippet fl
[$1](file:///$2)$0
endsnippet

snippet hl
[$1](file:///home/leaf/$2)$0
endsnippet
